<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - kaellare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='pico.jade.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><h3><a href="{{ url_for('beverages_bp.index') }}" class="contrast">kaellare</a></h3></li>
        </ul>
        <ul>
            <li><a href="{{ url_for('beverages_bp.index') }}">Dashboard</a></li>
            <li><a href="{{ url_for('beverage_bp.add_beverage') }}">Add beverage</a></li>
            <li><a href="{{ url_for('locations_bp.index') }}">Locations</a></li>
        </ul>
    </nav>

    <main class="container">
        <article class="grid">
            <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% for category, message in messages %}
                        <p class="notification-{{ category }}">
                            {{ message }}
                        </p>
                    {% endfor %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
        </article>
    </main>
</body>
</html>