{% extends "layout.html" %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li>{{ beverage["beverageName"] }}{% if beverage["beverageYear"] != "" %} ({{ beverage["beverageYear"] }}){% endif %}</li>
        </ul>
    </nav>
    <h4>{% block title %}{{ beverage["beverageName"] }}{% if beverage["beverageYear"] != "" %} ({{ beverage["beverageYear"] }}){% endif %}{% endblock %}</h4>
    <table>
        <tbody>
            <tr>
                <th scope="row">Year</th>
                <td>{{ beverage["beverageYear"] }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{% if beverage["locationId"] != None %}{{ beverage["locationName"] }}{% endif %}</td>
            </tr>
            <tr>
                <th>Purchase Date</th>
                <td>{{ beverage["beveragePurchaseDate"] }}</td>
            </tr>
            <tr>
                <th>Drink Before</th>
                <td>{{ beverage["beverageDrinkBefore"] }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ beverage["beverageNotes"] }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ url_for('edit_beverage', beverage_id=beverage['beverageId']) }}" role="button" class="outline contrast">Edit</a>
{% endblock %}