{% extends "layout.html" %}

{% block content %}
    <h2>{% block title %}Locations{% endblock %}</h2>

    <h3>Add a location</h3>
    <form method="post" action="{{ url_for('add_location') }}">
        <label for="name">Name*</label>
        <br>
        <input type="text" name="name">
        <br>
        <br>
        <button type="submit">Save</button>
    </form>

    <h3>Available locations</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        {% for location in locations %}
            <tr>
                <form method="post" action="{{ url_for('edit_location', id=location['locationId']) }}">
                    <td>
                        <input type="text" name="name" value="{{ location['locationName'] }}">
                        <input type="hidden" name="id" value="{{ location['locationId'] }}">
                    </td>
                    <td><button type"submit">Update</button> | <a href="{{ url_for('delete_location', id=location['locationId']) }}" title="Permanently delete location" onclick="return confirm('This will permanently delete the location. Are you sure?')">Delete</td>
                </form>
            </tr>
        {% endfor %}
    </table>
{% endblock %}